<html>
<head>
  <title>Angular Data Binding</title>
</head>
<body>

<div ng-app="myApp">

  <div ng-controller="FirstCtrl">
    <input type="text" ng-model="data.message" placeholder="Enter Message">
    <h1>{{data.message}}</h1>
  </div>

  <div ng-controller="SecondCtrl">
    <input type="text" ng-model="data.message" placeholder="Enter Message">
    <h1>{{reverseString(data.message)}}</h1>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="main.js"></script>
test
</body>
</html>
